node_modules/
.next/
out/
public_html/
public_html-legacy/
private_html
public_ftp/
.htpasswd/
logs/
stats/
.env*
!.env.example
*.sql
*.sql.gz
*.zip
*.tar.gz
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
